__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
venv/
.envrc
.mypy_cache/
.poetry/
#poetry.lock
__pypackages__/
dist/
build/
.cache/
.coverage
.pytest_cache/
.idea/
.vscode/
*.egg-info/
docker-compose.override.yml


.env
